# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# Logs y reportes locales
Logs/
reportes/
evidencias/

# Herramientas y configuracion local
dotnet-tools.json
*.Development.json

# Sistema
.git/
.gitignore
.gitkeep
.idea/
.vs/
.vscode/
**/__pycache__/
**/*.pyc

